.home-title {
  text-align: center;
  padding: 30px 0;
  color: #fff;
}

.home-title h2 {
  font-size: 28px;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.home-content {
  overflow: hidden;
  max-width: 1000px;
  width: 100%;
}

.slider {
  display: flex;
  transition: transform 0.4s ease-in-out;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.slider li {
  height: 450px;
  text-align: center;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  flex: 0 0 230px;
}

.slider img {
  height: 355px;
  width: 230px;
  object-fit: cover;
  border-radius: 5px;
}

.slider p {
  margin: 10px 0;
  font-weight: bold;
  background-color: #fff;
  color: #000;
}

.slider button {
  background-color: #ff5050;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.slider button:hover {
  background-color: #e63e3e;
}

#prevBtn,
#nextBtn {
  background-color: #333;
  color: white;
  border: none;
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

#prevBtn:hover,
#nextBtn:hover {
  background-color: #555;
}

/* begin bonus content */
.bonus-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 1200px;
  margin: 40px auto;
}

.bonus-slider {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
/* end bonus content */
